nav { 
    top: 0;
    width: 100%; 
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 20px;
}

nav > a {
    text-decoration: none;
    color:  rgb(168 103 169);
    background-color: rgb(242 184 58);
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
}
  
nav > a:hover:not(.active) {
    color: rgb(242 184 58);
    background-color:  rgb(128 152 206);
}

.Logo {
    font-family: 'Rubik Puddles', cursive;
    font-size: 70px;
    color: rgb(168 103 169);
    display: flex;
    text-shadow: .5px .5px #743c75;;
}